// Parceljs cann't compile babel.config.js
{
  "presets": [
    ["@vue/babel-preset-jsx"],
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-object-assign"],
  "env": {
    "test": {
      "presets": [
        ["@vue/babel-preset-jsx"],
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
