// Parceljs cann't compile babel.config.js
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": ["transform-vue-jsx", "@babel/plugin-transform-object-assign"],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": ["transform-vue-jsx"]
    }
  }
}
