html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
}
.sidebar {
  border-right: 1px solid #ebedf0;
  width: 280px;
  overflow: auto;
}
.sidebar a {
  font-size: 14px;
  line-height: 30px;
  display: block;
  padding-left: 16px;
  overflow: hidden;
  color: #314659;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-left: 1px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.sidebar a:hover {
  color: #1485e7;
}
.sidebar a.active {
  color: #1284e7;
}

.main {
  flex: 1;
  overflow: auto;
  max-width: 100%;
}
.main p {
  margin: 10px 0;
}

.content {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
}/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
.highlight-code {
  margin: 0;
  background: #fff;
}
.highlight-code::after, .highlight-code::before {
  width: 0;
}
.highlight-code code {
  display: block;
  background: #fff;
  color: #314659;
  line-height: 2;
  border: 0;
  box-shadow: none;
  padding: 16px 32px;
  border-radius: 2px;
  font-size: 14px;
}.card {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #314659;
  border: 1px solid #ebedf0;
  border-radius: 4px;
  margin-bottom: 60px;
  margin-top: 20px;
}
.card.active {
  border-color: #1284e7;
}

.card-demo {
  padding: 30px 24px;
  color: #213649;
  border-top: 1px solid #ebedf0;
}
.card-demo .box {
  display: flex;
  flex-wrap: wrap;
}
.card-demo .box > section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  position: absolute;
  margin-top: -10px;
  margin-left: 14px;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  padding: 0 10px;
  background: #fff;
}

.card-description {
  padding: 12px 24px;
}

.markdown-body {
  font-size: 15px;
  line-height: 1.7;
}
.markdown-body p,
.markdown-body ul,
.markdown-body ol {
  margin: 10px 0;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 30px;
}
.markdown-body code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.card-actions {
  position: relative;
  border-top: 1px solid #ebedf0;
  height: 36px;
  text-align: center;
  color: #d3dce6;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}
.card-actions:hover {
  box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
}

.icon-expand {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}

.card-code {
  border-top: 1px solid #ebedf0;
}