@import './var.scss';

.#{$namespace}-zoom-in-down-enter-active,
.#{$namespace}-zoom-in-down-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform $popup-animation-speed $popup-timing-function,
    opacity $popup-animation-speed $popup-timing-function;
  transform-origin: center top;
}

.#{$namespace}-zoom-in-down-enter,
.#{$namespace}-zoom-in-down-enter-from,
.#{$namespace}-zoom-in-down-leave-to {
  opacity: 0;
  transform: scaleY(0);
}
.#{$namespace}-zoom-in-up-enter-active,
.#{$namespace}-zoom-in-up-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform $popup-animation-speed $popup-timing-function,
    opacity $popup-animation-speed $popup-timing-function;
  transform-origin: center bottom;
}

.#{$namespace}-zoom-in-up-enter,
.#{$namespace}-zoom-in-up-leave-to {
  opacity: 0;
  transform: scaleY(0);
}
