@import './var.scss';

@mixin state {
  cursor: pointer;
  &:hover {
    background-color: #eaf8fe;
  }
  &.active {
    color: #fff;
    background-color: $primary-color;
  }
  &.in-range {
    background-color: #eaf8fe;
  }
  &.disabled {
    cursor: not-allowed;
    color: #ccc;
    background-color: #f3f3f3;
  }
}
